{% layout "layout.liquid" %}
{% block content %}

  <h1>Display the team and player that you want to track</h1>
  <br>
  {% if players.length > 0 %}
    <div class="container-lg">
      <div class="row">

        {% for player in playerDataAPI %}

          <div class="card mb-3" style="width: 70rem;">
            <h5 class="card-header">Name: {{ playerDataAPI[forloop.index0].name }}
            </h5>
            <h5 class="card-header">Points: {{ playerDataAPI[forloop.index0].stats[0].pts }}</h5>
            <h5 class="card-header">Rebounds: {{ playerDataAPI[forloop.index0].stats[0].reb }}</h5>
            <h5 class="card-header">Assists: {{ playerDataAPI[forloop.index0].stats[0].ast }}</h5>
            <h5 class="card-header">Steals: {{ playerDataAPI[forloop.index0].stats[0].stl }}</h5>
            <h5 class="card-header">Blocks: {{ playerDataAPI[forloop.index0].stats[0].blk }}</h5>
            <h5 class="card-header">Field Goal Percentage: {{ playerDataAPI[forloop.index0].stats[0].fg_pct }}</h5>

          </div>
        {% endfor %}
        {% for team in savedTeamData %}

          <div class="card mb-3" style="width: 70rem;">
            <h5 class="card-header">Name: {{ savedTeamData[forloop.index0].stats.full_name }}
            </h5>
            <h5 class="card-header">City: {{ savedTeamData[forloop.index0].stats.city }}</h5>
            <h5 class="card-header">Conference: {{ savedTeamData[forloop.index0].stats.conference }}</h5>
            <h5 class="card-header">Division: {{ savedTeamData[forloop.index0].stats.division }}</h5>

          </div>
        {% endfor %}

      </div>
    </div>
  {% endif %}


{% endblock %}