{% layout "layout.liquid" %}
{% block content %}
  <div class="container-lg main-body">
  <h1>Player Tracker</h1>
  <br>

  
  {% for player in playerDataAPI %}
    <div class="container-lg mb-3">
      <div class="row">
        <h5 class="col-3">{{ playerDataAPI[forloop.index0].name }}
        </h5>
        <p class="col-1">Pts: {{ playerDataAPI[forloop.index0].stats[0].pts }}</p>
        <p class="col-1">Reb: {{ playerDataAPI[forloop.index0].stats[0].reb }}</p>
        <p class="col-1">Ast: {{ playerDataAPI[forloop.index0].stats[0].ast }}</p>
        <p class="col-1">Stl: {{ playerDataAPI[forloop.index0].stats[0].stl }}</p>
        <p class="col-1">Blk: {{ playerDataAPI[forloop.index0].stats[0].blk }}</p>
        <p class="col-2">FG Pct: {{ playerDataAPI[forloop.index0].stats[0].fg_pct }}</p>
        <div class="col">
          <form action="/tracker/player/delete" method="POST">
            <fieldset>
              <input
                type="hidden"
                name="id"
                class="form-control mb-3"
                value="{{ playerDataAPI[forloop.index0].idAPI }}">

            </form>
            <input
              type="submit"
              value="Remove"
              class="btn btn-warning">
          </div>
        </div>
      </div>
    {% endfor %}

  </div>



{% endblock %}