{% layout "layout.liquid" %}
{% block content %}
<div class="container-lg main-body">
<h1>Team Tracker</h1>
<br>
<div class="container-lg">
    <div class="row">
      {% for team in teamDataAPI %}

        <div class="card-dark mb-3" style="width: 70rem;">
          <h5 class="card-header coral">{{ teamDataAPI[forloop.index0].stats.full_name }}
          </h5>
          <h5 class="card-header">City: {{ teamDataAPI[forloop.index0].stats.city }}</h5>
          <h5 class="card-header">Conference: {{ teamDataAPI[forloop.index0].stats.conference }}</h5>
          <h5 class="card-header">Division: {{ teamDataAPI[forloop.index0].stats.division }}</h5>
          <h5 class="card-header">ID: {{ teamDataAPI[forloop.index0].stats.id }}</h5>
          <form action="/tracker/team/delete" method="POST">
            <fieldset>
            <input
                type="hidden"
                name="id"
                class="form-control"
                value="{{ teamDataAPI[forloop.index0].stats.id }}">

            </form>
            <input
            type="submit"
            value="Remove"
            class="btn btn-warning mt-2"> 

        </div>
      {% endfor %}
    </div>
  </div>
  </div>
{% endblock %}