{% layout "layout.liquid" %}
{% block content %}

  <h1>Display a player after submitting a search</h1>
  {% if playerData.data.length > 0 %}
    <div class="container-lg">
      <div class="row">
        {% for player in playerData.data %}
          <div class="card mb-3" style="width: 70rem;">
            <h5 class="card-header">First Name: {{ player.first_name }}</h5>
            <h5 class="card-header">Last Name: {{ player.last_name }}</h5>
            <h5 class="card-header">ID: {{ player.id }}</h5>
            <h5 class="card-header">Team: {{ player.team.full_name }}</h5>
            <form action="/tracker/player?_method=PUT" method="POST">
            <fieldset>
                <input 
                    type="hidden" 
                    name="id" 
                    class="form-control mb-3"
                    value="{{ player.id }}">
            <fieldset>
                <input 
                    type="hidden" 
                    name="lastName" 
                    class="form-control mb-3"
                    value="{{ player.last_name }}">
            <fieldset>
                <input 
                    type="hidden" 
                    name="firstName" 
                    class="form-control mb-3"
                    value="{{ player.first_name }}">
        </form>
        <input type="submit" value="Add To Tracker" class="btn btn-success">
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}


{% endblock %}