{% layout "layout.liquid" %}
{% block content %}
<div class="container-lg">
  <h1>Search result for: {{playerLName}}</h1>
  <br>
  {% if playerData.data.length > 0 %}
    <div class="container-lg">
      
        {% for player in playerData.data %}
          <div class="row mb-3 border-bottom border-light-subtle">
            <h5 class="col-4 coral">{{ player.first_name }} {{ player.last_name }}</h5>
            <p class="col-2">ID: {{ player.id }}</p>
            <p class="col-4">Team: {{ player.team.full_name }}</p>
            <div class="col">
            <form action="/tracker/player" method="POST">
            <fieldset>
                <input 
                    type="hidden" 
                    name="id" 
                    class="form-control mb-3"
                    value="{{ player.id }}">
            <fieldset>
                <input 
                    type="hidden" 
                    name="lastName" 
                    class="form-control mb-3"
                    value="{{ player.last_name }}">
            <fieldset>
                <input 
                    type="hidden" 
                    name="firstName" 
                    class="form-control mb-3"
                    value="{{ player.first_name }}">
            </form>
            <input type="submit" value="Add" class="btn btn-success">
            </div>
          </div>
        {% endfor %}
      
    </div>
  {% endif %}
  </div>

{% endblock %}