{% layout "layout.liquid" %}
{% block content %}

{% if teamData.data.length > 0 %}
<div class="container-lg">
  <div class="row justify-content-evenly">
    {% for team in teamData.data %}
      <div class=" col-4 card-dark mb-3">
        <h5 class="card-header coral">{{ team.full_name }}</h5>
        <h5 class="card-header">City: {{ team.city }}</h5>
        <h5 class="card-header">Conference: {{ team.conference }}</h5>
        <h5 class="card-header">ID: {{ team.id }}</h5>
        <form action="/tracker/team" method="POST">
        <fieldset>
            <input 
                type="hidden" 
                name="id" 
                class="form-control"
                value="{{ team.id }}">
        <fieldset>
            <input 
                type="hidden" 
                name="city" 
                class="form-control"
                value="{{ team.city }}">
        <fieldset>
            <input 
                type="hidden" 
                name="name" 
                class="form-control"
                value="{{ team.full_name }}">
    </form>
    <input type="submit" value="Add" class="btn btn-success mt-2">
      </div>
    {% endfor %}
  </div>
</div>
{% endif %}



{% endblock %}